


<!-- <a href="/restaurants">Go back</a> -->


<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--black-100 mdl-color-text--white" style="overflow:hidden">
  <img src="<%= @restaurant.photo %>" alt="<%= @restaurant.name %>">
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4><%= @restaurant.name %></h4>
      <p>
        <strong>Price Range - </strong>
        <%= @restaurant.price %>
      </p>

      <p>
        <strong>Cuisine - </strong>
        <%= @restaurant.cuisine %>
      </p>

      <p>
        <strong>Location - </strong>
        <%= @restaurant.location %>
      </p>
    </div>

    <div class="mdl-card__actions">
      <%= link_to 'Add Review', new_review_path(:restaurant_id => @restaurant.id), :class => 'mdl-button' %>
      <% if @current_user.present? && @current_user.admin? %>
      <%= link_to 'Delete', restaurant_path(@restaurant.id), method: 'delete', :class => 'mdl-button' %>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant.id), :class => 'mdl-button' %>
      <% end %>

    </div>
  </div>
</section>
