<!DOCTYPE html>
<html>
  <head>
    <title>The Ultimate Decision</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>The Ultimate Decision</h1>
    <h3>Restaurant picker</h3>

    <header>
      <nav>
        <a href="/home">Home</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
